
body{
    margin: 0;
    padding: 3vh;
    background-color: rgb(54, 54, 54);
    /* background-image: linear-gradient(lightgray, black) */
}

h1{

    color: white;

}

.mainInfoData{
    padding: 4vh;
    text-align: center;
}

#posterMovie, #actorImage{
    width: 100%;
    border-radius: 3%;
}


#info, #infoActor{
    background-color: gray; 
    border-radius: 0.75rem;
    margin-top: 3vh;
    padding-bottom: 5vh;
}

@media (min-width:575px) and (max-width: 991px){
    #posterMovie{
        width: 50%;
    }
    #info{
        width: 50%;
    }
    .mainInfoData{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

#summary{
    margin: 3vh 0;
    border-radius: .75rem;
    background-color: gray;    
    padding: 2rem
}

.moreInfo{
    margin-top: 0.5rem;
}

#rate, #watch, #trailer{
    background-color: lightgray;
    border-radius: .75rem;
    padding: 0.7rem;
    border: 5px solid gray;
    color: black;
    
}

#rate img{
    height: 4rem;
    margin-right: 2rem;
}

/*--melhoria: limitar quantidade*/
.watchImg img{
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;    
}

#info-provider {
    display: none;
    z-index: 1;
    color: white;
    background-color: rgba(000,000,000,0.4);
    padding: 0.5em;
    margin: 1em 1em 0 1em;
    text-align: center;
    border-radius: 0.75rem;
}


#cast, #knownFor{
    margin: 0;
    border-radius: .75rem;
    padding-top: 1rem;
    background-color: gray;
    color: white;
}

button{
    border: none;
    border-radius: 0.75rem;
    background-color: lightgray;
    margin: 1rem 0rem;
    width: 10%;
}

button:hover{
    background-color: white;
    transition-duration: 0.5s;
}

#moreActorsDiv{
    display: none
}

#cast .col-md-2{
    text-align: center;
}

.actorImg{
    height: 12rem;
    border-radius: 50%;
}

#moreMovies, #knownFor{
    margin-top: 2rem;
    color: white;
    text-align: center;
}

.sectionMovies{
    background-color: gray;
    border-radius: 1.5rem;
    border: 1.5vh solid rgb(54, 54, 54);
    padding-top: 1.5vh;
}

#moreMovies img, #knownFor img{
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 10px 10px 5px rgb(46, 43, 43)
}

#moreMovies h6, #knownFor h6{
    margin: 1rem 0;
}

button img{
    width: 10%;
    margin: 0.5rem;
}

#knownFor p{
    margin-top: -1rem;
}

footer{
    padding-top: 3vh;
    color: lightgray;
    text-align: center;
    font-size: 90%;
}

@media (min-width: 768px){
    h1{
        font-size: 4rem;
    }
}
/* @media(max-width:1024px){
    #moreMovies h6{
        font-size: 11px;
        margin: 0.8rem 0;
    }
} */