
body{
    margin: 0;
    padding: 3vh;
    background-color: rgb(54, 54, 54);
}

h1{
    color: white;
}

.showMovie{
    padding: 4vh;
    text-align: center;
}

#posterMovie{
    width: 100%;
    border-radius: 3%;
}


#info{
    background-color: gray; 
    border-radius: 0.75rem;
    margin-top: 3vh;
    padding-bottom: 5vh;
}

@media (min-width:575px) and (max-width: 991px){
    #posterMovie{
        width: 50%;
    }
    #info{
        width: 50%;
    }
    .showMovie{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

#summary{
    margin: 3vh 0;
    border-radius: .75rem;
    background-color: gray;    
    padding: 2rem
}

.moreInfo{
    margin-top: 0.5rem;
}

#rate, #watch, #trailer{
    background-color: lightgray;
    border-radius: .75rem;
    padding: 0.7rem;
    border: 5px solid gray;
    color: black;
    
}

#rate img{
    height: 4rem;
    margin-right: 2rem;
}

#rate h5{
    margin-bottom: 0;
}
.watchImg img{
    height: 4rem;
    width: 4.5rem;
    border-radius: 0.5rem;
    background-color:lightgray;
    
}

#cast{
    margin: 0;
    border-radius: .75rem;
    padding-top: 1rem;
    background-color: gray;
    color: white;
}

#cast .col-md-2{
    text-align: center;
}

.actorImg{
    height: 12rem;
    border-radius: 50%;
}

#moreMovies{
    margin-top: 2rem;
    color: white;
    text-align: center;
}

.sectionMovies{
    background-color: gray;
    border-radius: 1.5rem;
    border: 1.5vh solid rgb(54, 54, 54);
    padding-top: 1.5vh;
}

#moreMovies img{
    width: 80%;
    border-radius: 0.75rem;
    height: 80%;
}

#moreMovies h6{
    margin: 0.4rem 0;
}

footer{
    padding-top: 3vh;
    color: lightgray;
    text-align: center;
    font-size: 90%;
}

@media (min-width: 768px){
    h1{
        font-size: 4rem;
    }
}
@media(max-width:1024px){
    #moreMovies h6{
        font-size: 11px;
        margin: 0.2rem 0;
    }
}